.post-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.post-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.post__title {
    font-size: 1.2rem;
    text-align: center;
}


.post__description {
    text-align: center;
}