<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/comment.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (likes.length > 0) { %>
                    <h1 class="title"><%= post.title %></h1>
                    <% for (var i =0; i <likes.length;  i++) { %>
                        <h1 class='user'> <%=likes[i].userId %></h1>
                        <br> <br>
                    <% } %>
                  <% } else { %>
                <h1>No Likes Found!</h1>
            <% } %>
        </main>
    </body>

    </html>